@import '../libs/bootstrap/less/bootstrap.less';
@import 'colors.less';

.navbar-form .help-block {
  display: inline-block;
}

// fix header line-height on mobile devices
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4em;
  small {
    line-height: 1.4em;
  }
}

// float buttons right when navbar collapsed
@media (max-width: 768px) {
  #resetbuttons {
    float:right;
  }
}