<div class="navbar-right">
    <p class="navbar-text" id="countdown">{{text}} <span id="countdownclock">{{clock}} {{tail}}</span></p>
    <span id="resetbuttons">
        <button type="button" class="btn btn-default navbar-btn" id="resetcountdown">Reset</button>
        {{#if goalSet}}<button type="button" class="btn btn-default navbar-btn" id="changegoal">Change Goal</button>{{/if}}
    </span>
</div>