<div class="row col-md-8 col-md-offset-2">
    <h1>Goal: <small>{{words}} words</small></h1>
    <h2>
        <small class="pull-right">
            {{#if time}} by {{time}} on {{date}}{{/if}}
        </small>
    </h2>
    
</div>