<button type="button" class="close pull-right" aria-hidden="true">&times;</button>
<h2 class="col-md-offset-1 text-muted words-record">{{words}} <span>words</span></h2>
<h6 class="text-muted pull-left col-md-8" id="timestamp">Added on {{timestamp}}</h6>
<h4 class="pull-right">
    <span class="label label-default">#{{type}}</span>
</h4>