<form class="navbar-form navbar-right has-error" id="countdown-form">
    <div class="form-group">
        <label class="sr-only" for="#countdown-input">Start of #antidiogenes weekend</label>
        <span class="help-block">When does the #antidiogenes weekend start?</span>
        <input type="text" class="form-control" placeholder="month-day hour am|pm" id="countdown-input">
    </div>
    <input type="button" class="btn btn-default" id="setcountdown" value="Set Countdown Clock" disabled>
    {{#if goalSet}}<button type="button" class="btn btn-default navbar-btn" id="changegoal">Change Goal</button>{{/if}}
</form>