<div class="row">
    <form class="form-horizontal has-error col-md-4 col-md-offset-4" id="goal-form">
        <div class="form-group">
            <label class="sr-only" for="#countdowninput">Goal word count</label>
            <span class="help-block">What is your goal word count?</span>
            <input type="text" class="form-control" placeholder="# of words" id="goalinput">
        </div>
        <input type="button" class="btn btn-primary pull-right" id="setgoal" value="Set Word Goal" disabled>
    </form>
</div>